[build]


command = "npm ci && SCSS_EXECUTABLE=./node_modules/.bin/sass hugo --gc --minify"

# Hugo output directory
publish = "public"

[build.environment]
# Set a recent, stable version of Hugo Extended
HUGO_VERSION = "0.121.1"


NODE_VERSION = "20"