[build.environment]
DART_SASS_VERSION = "1.93.2"
HUGO_VERSION = "0.152.2"
NODE_VERSION = "22.20.0"
HUGO_ENABLEGITINFO = "true"

[build]
publish = "public"
command = "npm ci && npx hugo --gc --minify"
