[build]


command = "npm ci && hugo --gc --minify"

# Hugo output directory
publish = "public"

[context.production]

# Setting HUGO_VERSION to match the version explicitly required by the theme (0.148.1).
environment = { HUGO_VERSION = "0.148.1" }

[context.branch-deploy]
environment = { HUGO_VERSION = "0.148.1" }