[build]


command = "npm ci && SCSS_EXECUTABLE=./node_modules/.bin/sass-embedded hugo --baseURL \"${URL}\" --gc --minify"

# Hugo output directory
publish = "public"

[build.environment]

HUGO_VERSION = "0.121.1"
NODE_VERSION = "20"